<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/output.css" rel="stylesheet">
    <title>Spooki | Home</title>
</head>

<body class="bg-gray-900" style="background-image: url(../assets/background.png)">
    <!-- Navbar -->
    <nav>
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-center h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"></div>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-center">
            <div class="flex-shrink-0 flex items-center">
                <img class="block lg:hidden h-8 w-auto" src="" alt="Spooki">
            </div>
            <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-4">
                <a href="/invite" target="_blank" class="text-gray-300 transition ease-in-out hover:-translate-y-2 hover:scale-110 hover:bg-gray-700 hover:text-white duration-500 px-3 py-2 rounded-md text-sm font-medium">Invite</a>
                <a href="/vote" target="_blank" class="text-gray-300 transition ease-in-out hover:-translate-y-2 hover:scale-110 hover:bg-gray-700 hover:text-white duration-500 px-3 py-2 rounded-md text-sm font-medium">Vote</a>
                <a href="/about" target="_blank" class="text-gray-300 transition ease-in-out hover:-translate-y-2 hover:scale-110 hover:bg-gray-700 hover:text-white duration-500 px-3 py-2 rounded-md text-sm font-medium">About us</a>
                <a href="/team" target="_blank" class="text-gray-300 transition ease-in-out hover:-translate-y-2 hover:scale-110 hover:bg-gray-700 hover:text-white duration-500 px-3 py-2 rounded-md text-sm font-medium">Our team</a>
                <a href="/community" target="_blank" class="text-gray-300 transition ease-in-out hover:-translate-y-2 hover:scale-110 hover:bg-gray-700 hover:text-white duration-500 px-3 py-2 rounded-md text-sm font-medium">Community</a>
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="sm:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="/invite" target="_blank" class="text-gray-300 hover:bg-gray-700 hover:text-white duration-500 block px-3 py-2 rounded-md text-base font-medium">Invite</a>
                <a href="/vote" target="_blank" class="text-gray-300 hover:bg-gray-700 hover:text-white duration-500 block px-3 py-2 rounded-md text-base font-medium">Vote</a>
                <a href="/about" target="_blank" class="text-gray-300 hover:bg-gray-700 hover:text-white duration-500 block px-3 py-2 rounded-md text-base font-medium">About us</a>
                <a href="/team" target="_blank" class="text-gray-300 hover:bg-gray-700 hover:text-white duration-500 block px-3 py-2 rounded-md text-base font-medium">Our team</a>
                <a href="/community" target="_blank" class="text-gray-300 hover:bg-gray-700 hover:text-white duration-500 block px-3 py-2 rounded-md text-base font-medium">Community</a>
            </div>
        </div>
    </nav>


    <!-- Hero -->
    <div>
        <div class="container mx-auto flex flex-col items-center py-12 sm:py-24">
            <div class="w-11/12 sm:w-2/3 lg:flex justify-center items-center flex-col mb-5 sm:mb-10">
            <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center text-gray-800 font-black leading-7 md:leading-10">
                <span class="text-indigo-500 hover:text-indigo-700 hover:text-8xl duration-500">
                    Spooki!
                </span>
            </h1>
            <p class="mt-5 sm:mt-10 lg:w-10/12 text-white font-normal text-center text-sm sm:text-lg">
                Spooki is a cute discord bot in <span class="underline decoration-indigo-500 hover:text-2xl duration-500">69420</span> servers with <span class="underline decoration-indigo-500 hover:text-2xl duration-500">69420</span> users.
                <br>
                It has a lot of features such as moderation, images, utility & way more!
                <br>
                Invite it to your server today!
            </p>
            </div>
            <div class="flex justify-center items-center">
            <button class="ml-4 bg-indigo-600 text-white lg:text-xl lg:font-bold border-indigo-700 rounded sm:px-10 sm:py-4 transition ease-in-out hover:-translate-y-2 hover:scale-110 hover:bg-indigo-500 duration-300">
                Invite
            </button>
            <button class="ml-4 bg-indigo-800 text-white lg:text-xl lg:font-bold border-indigo-700 rounded sm:px-10 sm:py-4 transition ease-in-out hover:-translate-y-2 hover:scale-110 hover:bg-indigo-500 duration-300">
                Community Server
            </button>
            </div>
        </div>
    </div>


    <!-- Features -->
    <section>
        <div class="container py-10 mx-auto">
            <h1 class="text-3xl font-semibold text-gray-800 lg:text-4xl dark:text-white text-center">
                Explore our
                <br>
                <span class="underline decoration-indigo-500 hover:text-5xl duration-300">awesome features</span>
            </h1>
            <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300 text-center">
                Spooki has a lot of features. Here are the most popular ones.
            </p>
        </div>
    </section>


    <!-- Footer -->
	<footer class="p-4 sm:p-6 dark:bg-gray-800">
		<div class="md:flex md:justify-center">
			<div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
				<div>
					<h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
                        Quick links
                    </h3>
					<ul>
						<li class="mb-4">
							<a href="/invite" target="_blank" class="text-gray-600 hover:underline dark:text-gray-400">
                                Invite
                            </a>
						</li>
                        <li class="mb-4">
							<a href="/vote" target="_blank" class="text-gray-600 hover:underline dark:text-gray-400">
                                Vote
                            </a>
						</li>
                        <li class="mb-4">
							<a href="/about" target="_blank" class="text-gray-600 hover:underline dark:text-gray-400">
                                About us
                            </a>
						</li>
                        <li class="mb-4">
							<a href="/team" target="_blank" class="text-gray-600 hover:underline dark:text-gray-400">
                                Our team
                            </a>
						</li>
					</ul>
				</div>
				<div>
					<h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
                        Other
                    </h3>
					<ul>
						<li class="mb-4">
							<a href="/source" target="_blank" class="text-gray-600 hover:underline dark:text-gray-400">
                            Source code
                            </a>
						</li>
						<li>
							<a href="/discord" target="_blank" class="text-gray-600 hover:underline dark:text-gray-400">
                            Community
                            </a>
						</li>
					</ul>
				</div>
				<div>
					<h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
                        Legal
                    </h3>
					<ul>
						<li class="mb-4">
							<a href="/privacy" target="_blank" class="text-gray-600 hover:underline dark:text-gray-400">
								Privacy Policy
                            </a>
						</li>
                        <li class="mb-4">
							<a href="/tos" target="_blank" class="text-gray-600 hover:underline dark:text-gray-400">
                                Terms of Service
                            </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
		<div class="sm:flex sm:items-center sm:justify-center">
			<span class="text-sm text-gray-500 sm:text dark:text-gray-400">
                © 2022 Spooki.
                All Rights Reserved.
                <br>
                Made with <a href="https://tailwindcss.com" target="_blank" class="underline">Tailwind CSS</a> and love 💖
            </span>
		</div>
	</footer>
</body>
</html>